.interet{

  background-attachment:fixed;
  background-image:url(../images/bg-interet.jpg);
  background-size:cover;

  padding: 244px 145px 218px 149px;


  .conteneur{
  text-align: center;
  padding-bottom:80px;
  margin: 0 151px;
}

}
